@using BibleVerseApp.Models
@model BibleVerseApp.Models.VerseModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("Insert", "Insert", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container" align="center">
        <div class="form-horizontal">
            <h3 align="center" style="font-family:Impact">Add a Bible Verse</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>

                <label for="testament" align="center"><b>Testament:</b></label>
                <div>
                    @Html.DropDownListFor(model => model.Testament, new SelectList(Enum.GetValues(typeof(VerseModel.TestamentType))))
                    @Html.ValidationMessageFor(model => model.Testament, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>

                <label for="book" align="center"><b>Book:</b></label>
                <div>
                    @Html.DropDownListFor(model => model.Book, new SelectList(Enum.GetValues(typeof(VerseModel.BookType))))
                    @Html.ValidationMessageFor(model => model.Book, "", new { @class = "text-danger" })
                </div>
            </div>
            <div>

                <label for="Chapter" align="center"><b>Chapter:</b></label>
                <div>
                    @Html.EditorFor(model => model.Chapter, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Chapter, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>

                <label for="Number" align="center"><b>Number:</b></label>
                <div>
                    @Html.EditorFor(model => model.Verse, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Verse, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                <label for="VerseText" align="center"><b>Verse Text:</b></label>
                <div>
                    @Html.EditorFor(model => model.VerseText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VerseText, "", new { @class = "text-danger" })
                </div>
            </div>




            <div class="form-group">
                <div>
                    <input type="submit" value="Submit Verse" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
